<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Sinatlist</title>
</head>
<body>
  <table border>
    <tr>
      <th>学籍番号</th>
      <th>氏名</th>
      <th>E-mail</th>
    </tr>

    <tr>
      <form method="post" action="../<%= @student.id %>">
      <td><%= @student.id %></td>
      <td><input type="text" name="name" value="<%= @student.name %>"></td>
      <td><input type="text" name="email" value="<%= @student.email %>"></td>
      <td><input type="submit" value="確定"></td>
          <input type="hidden" name="id" value="<%= @student.id %>">
          <input type="hidden" name="_method" value="put">
      </form>
      </td>
    </tr>

  </table>
</body>
</html>
